
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Translations &#8212; pgAdmin 4 3.4 documentation</title>
    <link rel="stylesheet" href="_static/classic.css" type="text/css" />
    <link rel="stylesheet" href="_static/pygments.css" type="text/css" />
    
    <script type="text/javascript" id="documentation_options" data-url_root="./" src="_static/documentation_options.js"></script>
    <script type="text/javascript" src="_static/jquery.js"></script>
    <script type="text/javascript" src="_static/underscore.js"></script>
    <script type="text/javascript" src="_static/doctools.js"></script>
    <script async="async" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    
    <script type="text/javascript" src="_static/sidebar.js"></script>
    
    <link rel="index" title="Index" href="genindex.html" />
    <link rel="search" title="Search" href="search.html" />
    <link rel="next" title="pgAgent" href="pgagent.html" />
    <link rel="prev" title="Code Review Notes" href="code_review.html" /> 
  </head><body>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="pgagent.html" title="pgAgent"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="code_review.html" title="Code Review Notes"
             accesskey="P">previous</a> |</li>
        <li class="nav-item nav-item-0"><a href="index.html">pgAdmin 4 3.4 documentation</a> &#187;</li>
          <li class="nav-item nav-item-1"><a href="contributions.html" accesskey="U">pgAdmin Project Contributions</a> &#187;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <div class="section" id="translations">
<h1><span class="target" id="index-0"></span>Translations<a class="headerlink" href="#translations" title="Permalink to this headline">¶</a></h1>
<p>pgAdmin supports multiple languages using the <a class="reference external" href="https://pythonhosted.org/Flask-Babel/">Flask-Babel</a> Python module. A list of supported
languages is included in the <strong>web/config.py</strong> configuration file and must be
updated whenever languages are added or removed with
<a class="reference external" href="https://en.wikipedia.org/wiki/ISO_639-1">ISO 639-1</a> (two letter) language
codes. The codes are named <strong>$LANG</strong> in this document.</p>
<div class="section" id="translation-marking">
<h2>Translation Marking<a class="headerlink" href="#translation-marking" title="Permalink to this headline">¶</a></h2>
<p>Strings can be marked for translation in either Python code (using <strong>gettext()</strong>)
or Jinja templates (using <strong>_()</strong>). Here are some examples that show how this
is achieved.</p>
<p>Python:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="n">errormsg</span> <span class="o">=</span> <span class="n">gettext</span><span class="p">(</span><span class="s1">&#39;No server group name was specified&#39;</span><span class="p">)</span>
</pre></div>
</div>
<p>Jinja:</p>
<div class="highlight-html notranslate"><div class="highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;submit&quot;</span> <span class="na">value</span><span class="o">=</span><span class="s">&quot;{{ _(&#39;Change Password&#39;) }}&quot;</span><span class="p">&gt;</span>
</pre></div>
</div>
<div class="highlight-html notranslate"><div class="highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">title</span><span class="p">&gt;</span>{{ _(&#39;%(appname)s Password Change&#39;, appname=config.APP_NAME) }}<span class="p">&lt;/</span><span class="nt">title</span><span class="p">&gt;</span>
</pre></div>
</div>
<div class="highlight-javascript notranslate"><div class="highlight"><pre><span></span><span class="nx">define</span><span class="p">([</span><span class="s1">&#39;sources/gettext&#39;</span><span class="p">,</span> <span class="p">...],</span> <span class="kd">function</span><span class="p">(</span><span class="nx">gettext</span><span class="p">,</span> <span class="p">...){</span>
    <span class="p">...</span>
    <span class="kd">var</span> <span class="nx">alert</span> <span class="o">=</span> <span class="nx">alertify</span><span class="p">.</span><span class="nx">prompt</span><span class="p">(</span>
        <span class="nx">gettext</span><span class="p">(</span><span class="s1">&#39;Password Change&#39;</span><span class="p">),</span>
        <span class="nx">gettext</span><span class="p">(</span><span class="s1">&#39;New password for %(userName)s&#39;</span><span class="p">,</span> <span class="p">{</span><span class="nx">userName</span><span class="o">:</span> <span class="s1">&#39;jsmith&#39;</span> <span class="p">}),</span>
        <span class="p">...</span>
    <span class="p">)</span>
<span class="p">})</span>
</pre></div>
</div>
</div>
<div class="section" id="updating-and-merging">
<h2>Updating and Merging<a class="headerlink" href="#updating-and-merging" title="Permalink to this headline">¶</a></h2>
<p>Whenever new strings are added to the application, the template catalogue
(<strong>web/pgadmin/messages.pot</strong>) and the existing translation
catalogues (<strong>web/pgadmin/translations/$LANG/LC_MESSAGES/messages.po</strong>) must be updated
and compiled. This can be achieved using the following commands from the
<strong>web</strong> directory in the Python virtual environment for pgAdmin:</p>
<div class="highlight-bash notranslate"><div class="highlight"><pre><span></span><span class="o">(</span>pgadmin4<span class="o">)</span> user$ pybabel extract -F babel.cfg -o pgadmin/messages.pot pgadmin
</pre></div>
</div>
<p>Once the template has been updated it needs to be merged into the existing
message catalogues:</p>
<div class="highlight-bash notranslate"><div class="highlight"><pre><span></span><span class="o">(</span>pgadmin4<span class="o">)</span> user$ pybabel update -i pgadmin/messages.pot -d pgadmin/translations
</pre></div>
</div>
<p>Finally, the message catalogues can be compiled for use:</p>
<div class="highlight-bash notranslate"><div class="highlight"><pre><span></span><span class="o">(</span>pgadmin4<span class="o">)</span> user$ pybabel compile -d pgadmin/translations
</pre></div>
</div>
</div>
<div class="section" id="adding-a-new-language">
<h2>Adding a New Language<a class="headerlink" href="#adding-a-new-language" title="Permalink to this headline">¶</a></h2>
<p>Adding a new language is simple. First, add the language name and identifier to
<strong>web/config.py</strong>:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="c1"># Languages we support in the UI</span>
<span class="n">LANGUAGES</span> <span class="o">=</span> <span class="p">{</span>
    <span class="s1">&#39;en&#39;</span><span class="p">:</span> <span class="s1">&#39;English&#39;</span><span class="p">,</span>
    <span class="s1">&#39;zh&#39;</span><span class="p">:</span> <span class="s1">&#39;Chinese (Simplified)&#39;</span><span class="p">,</span>
    <span class="s1">&#39;de&#39;</span><span class="p">:</span> <span class="s1">&#39;German&#39;</span><span class="p">,</span>
    <span class="s1">&#39;pl&#39;</span><span class="p">:</span> <span class="s1">&#39;Polish&#39;</span>
<span class="p">}</span>
</pre></div>
</div>
<p>Then, create the new message catalogue from the <strong>web</strong> directory in the source
tree in the Python virtual environment for pgAdmin:</p>
<div class="highlight-bash notranslate"><div class="highlight"><pre><span></span><span class="o">(</span>pgadmin4<span class="o">)</span> user$ pybabel init -i pgadmin/messages.pot -d pgadmin/translations -l <span class="nv">$LANG</span>
</pre></div>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
  <h3><a href="index.html">Table of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Translations</a><ul>
<li><a class="reference internal" href="#translation-marking">Translation Marking</a></li>
<li><a class="reference internal" href="#updating-and-merging">Updating and Merging</a></li>
<li><a class="reference internal" href="#adding-a-new-language">Adding a New Language</a></li>
</ul>
</li>
</ul>

<h3><a href="index.html">Table of Contents</a></h3>
<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="getting_started.html">Getting Started</a></li>
<li class="toctree-l1"><a class="reference internal" href="connecting.html">Connecting to a Server</a></li>
<li class="toctree-l1"><a class="reference internal" href="managing_cluster_objects.html">Managing Cluster Level Objects</a></li>
<li class="toctree-l1"><a class="reference internal" href="managing_database_objects.html">Managing Database Objects</a></li>
<li class="toctree-l1"><a class="reference internal" href="modifying_tables.html">Creating or Modifying a Table</a></li>
<li class="toctree-l1"><a class="reference internal" href="management_basics.html">Management Basics</a></li>
<li class="toctree-l1"><a class="reference internal" href="backup_and_restore.html">Backup and Restore</a></li>
<li class="toctree-l1"><a class="reference internal" href="developer_tools.html">Developer Tools</a></li>
<li class="toctree-l1"><a class="reference internal" href="deployment.html">pgAdmin Deployment</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="contributions.html">pgAdmin Project Contributions</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="submitting_patches.html">Submitting Patches</a></li>
<li class="toctree-l2"><a class="reference internal" href="code_overview.html">Code Overview</a></li>
<li class="toctree-l2"><a class="reference internal" href="coding_standards.html">Coding Standards</a></li>
<li class="toctree-l2"><a class="reference internal" href="code_review.html">Code Review Notes</a></li>
<li class="toctree-l2 current"><a class="current reference internal" href="#">Translations</a><ul>
<li class="toctree-l3"><a class="reference internal" href="#translation-marking">Translation Marking</a></li>
<li class="toctree-l3"><a class="reference internal" href="#updating-and-merging">Updating and Merging</a></li>
<li class="toctree-l3"><a class="reference internal" href="#adding-a-new-language">Adding a New Language</a></li>
</ul>
</li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="pgagent.html">pgAgent</a></li>
<li class="toctree-l1"><a class="reference internal" href="licence.html">Licence</a></li>
<li class="toctree-l1"><a class="reference internal" href="release_notes.html">Release Notes</a></li>
</ul>

<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="pgagent.html" title="pgAgent"
             >next</a> |</li>
        <li class="right" >
          <a href="code_review.html" title="Code Review Notes"
             >previous</a> |</li>
        <li class="nav-item nav-item-0"><a href="index.html">pgAdmin 4 3.4 documentation</a> &#187;</li>
          <li class="nav-item nav-item-1"><a href="contributions.html" >pgAdmin Project Contributions</a> &#187;</li> 
      </ul>
    </div>
    <div class="footer" role="contentinfo">
        &#169; Copyright 2013 - 2018, The pgAdmin Development Team.
    </div>
  </body>
</html>